<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gymrattrax.gymrattrax" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DailyWorkoutActivity"
            android:label="@string/title_activity_daily_workout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".CalorieNegationActivity"
            android:label="@string/title_activity_calorie_negation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_fitness_profile"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ScheduleActivity"
            android:label="@string/title_activity_schedule" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProgressActivity"
            android:label="@string/title_activity_view_progress"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".CardioWorkoutActivity"
            android:label="@string/title_activity_cardio_workout"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ViewScheduleActivity"
            android:label="@string/title_activity_view_schedule"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".StrengthWorkoutActivity"
            android:label="@string/title_activity_strength_workout" >
        </activity>
        <activity
            android:name=".DBDebug"
            android:label="Debug" >
        </activity>
        <activity
            android:name=".CurrentScheduleActivity"
            android:label="Current Schedule"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ProfileSetupActivity"
            android:label="@string/title_activity_profile_setup" >
        </activity>
        <activity
            android:name=".AddWorkoutActivity"
            android:label="@string/title_activity_add_workout"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
